{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Django Proyecto UTD
        {% endblock title %}
    </title>
    <link rel="stylesheet" href="{% static "css/estilos.css" %}" type="text/css">
</head>

<body>
    <header>
        <div id="logotipo">
            <img src="{% static "img/logo_django.png" %}" alt="Imagen Django" title="Django">
            <h1>Django Proyecto Web</h1>
        </div>
    </header>
    <nav>
        <ul>
            <li><a href="{% url "index" %}">Inicio</a></li>
            {% if user.email %}
                <li><a href="{% url "mision" %}">Misión</a></li>
                <li><a href="{% url "vision" %}">Visión</a></li>
                <li><a href="{% url "acercade" %}">Acerca de</a></li>
                <li><a href="{% url "listado_articulos" %}">Artículos</a></li>
                <li><a href="{% url "listado_categorias" %}">Categorías</a></li> 
                <li><a href="{% url "cerrarsesion" %}">Cerrar Sesión</a></li>
            {% else %}
                <li><a href="{% url "registro" %}">Registro</a></li>
                <li><a href="{% url "iniciosesion" %}">Inicio de Sesión</a></li>
            {% endif %}
            
            
            

            
            
        </ul>
    </nav>
    <section id="content">
        <div class="box">
            {% block content %}
            {% comment %}
                Aqui va el contenido
            {% endcomment %}
            {% endblock content %}
        </div>

    </section>
    <footer>
        <p>Django con Mich &copy; 2024 | Visitado el: {% now "Y-m-d H:i" %}</p>
    </footer>
    

</body>
</html>