{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}

{% block content %}
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipiscing, elit potenti quam mattis dis euismod egestas, a rhoncus etiam ridiculus luctus. Elementum platea a at lobortis porta neque mi, consequat quisque cum nisl sem nullam lectus eleifend, eget ac cras curabitur dui ut. Pulvinar lobortis nascetur placerat neque nostra integer odio lacus, vehicula tincidunt dictum sociosqu aptent tristique primis dui quis, sagittis conubia sapien vel natoque etiam elementum.
    </p>
{% endblock content %}