{% extends "layouts/layouts.html" %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h1>{{ title }}</h1>
        <p>Diam fames vestibulum nisi leo montes duis donec interdum erat maecenas vulputate proin rutrum risus class euismod, tincidunt placerat ligula pellentesque eu fermentum nascetur felis primis sapien natoque netus consequat blandit. Tempor bibendum proin turpis litora quam non posuere montes accumsan sagittis, primis scelerisque praesent pharetra donec metus nunc nascetur. 
        </p>
{% endblock content %}