*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(IMG2.jpg);
    background-size: cover;
    height: 100vmax;
    height: 100vmax;
    color: white;
}

#contenedor{
    width: 80%;
    margin: 0 auto;
}

h2{
    padding-top: 30vw;
    padding-bottom: 30vw;
    font-size: 3vw;
    text-align: center;
    font-weight: normal;
    font-style: oblique;
    background-color: grey;
}
hr{
    margin-bottom: 2vw;
    margin-top: 2vw;
}

form{
    margin-bottom: 2vw;
    margin-top: 2vw;
    text-align: center;
    color: rgb(1, 0, 0);
    font-size: 2vw;
    font-weight: bold;
}

.caja1{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    width: 5%;
}

.caja{
    color: black;
    font-weight: bold;
    font-size: 1.5vw;
    width: auto;
}

#boton:hover{

    background-color: rgb(22, 75, 82);
    color: white;
    border-radius: 100%;
    border: 2px solid black;
}