{% extends "layouts/layouts.html" %}

{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
    <h1>{{title}}</h1>
    <h2>{{content}}</h2>
    <p>
        Ser una universidad reconocida a nivel nacional e internacional por su calidad educativa, innovación, vinculación y compromiso social, que impulsa la formación integral de sus estudiantes y contribuye al desarrollo tecnológico y económico de México.

        Estos principios orientan las actividades de la UTD, enfocándose en la preparación de profesionales capacitados para enfrentar los retos del mundo laboral.
    </p>
{% endblock content %}
